@font-face {
    font-family: 'Rockwell';
    src: url('Rockwell.ttf') format('truetype');
}

body {
    background-color: #00003d;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 120vh; 
}

.header {
    width: 100%;
    background-color: #00003d;
    color: #147df5;
    text-align: center;
    padding: 30px 0;
    font-size: 4em;
    font-family: 'Rockwell', Arial, sans-serif;
    height: 10vh; 
    box-sizing: border-box;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    box-sizing: border-box;
}

#tableauViz {
    width: 100%;
    height: 100%; 
}

.footer {
    text-align: center;
    padding: 10px 0;
    background-color: #00003d;
    color: #147df5;
    font-size: 2em;
    font-family: 'Rockwell', Arial, sans-serif;
    height: 10vh; 
    box-sizing: border-box;
}

.footer img {
    vertical-align: middle;
    margin-left: 20px;
    width: 200px;
    height: auto;
}


@media (max-width: 768px) {
    .header {
        font-size: 2em; 
        height: 8vh; 
    }
    .footer {
        font-size: 1.5em; 
        height: 8vh; 
    }
    body {
        height: 116vh; 
    }
}

@media (max-width: 480px) {
    .header {
        font-size: 1.5em; 
        height: 8vh;
    }
    .footer {
        font-size: 1em; 
        height: 8vh;
    }
    body {
        height: 112vh; 
    }
    .footer img {
        width: 150px; 
    }
}
